<section class="py-12 lg:py-30 md:py-20 lg:px-15 md:px-7 px-0.4">
<div class="container mx-auto grid md:grid-cols-2 grid-cols-1 gap-6">
    <div class="mb-10">
        <h2 class="text-3xl md:text-5xl max-w-147 text-white font-bold mb-6 leading-[1.2]">This is what people say about me</h2>
        <p class="text-lg text-gray-500 mb-10 max-w-147 leading-[1.5]">Here are a few lines from people who I have worked with over the past 8+ years in my design career.</p>
        <a href="#" class="text-white leading-[1.75] border-b pb-1 border-gray-500">See all testimonials</a>
     </div>
<div class="grid grid-cols-1 lg:max-w-159 md:max-w-83 lg:gap-30  md:gap-16 gap-12">
    <div>
       <picture>
            <source media="(min-width: 1024px)" srcset="about-1-lg.webp" />
            <img src="about-1-md.webp" alt="about" class="w-full h-auto object-cover" />
        </picture>  
    <div class="border  border-gray-500">
    <h3 class="text-2xl mb-16 lg:mt-16 mt-8 lg:px-16 px-8 font-bold leading-[1.5]">‘’Robin is one of the best designers I have worked with in my entire life. He is a designer who is very capable of taking up complex projects and delivers impeccable design.’’</h3>
    <h5 class="text-gray-600 font-bold text-lg lg:mb-16 mb-8 lg:px-16 px-8 leading-[1.5]">Richard Owens <br> <span class="font-normal mt-1">CEO, Company 1</span></h5>
   </div>
   </div>
   <div>
    <picture>
            <source media="(min-width: 1024px)" srcset="about-2-lg.webp" />
            <img src="about-2-md.webp" alt="about" class="w-full h-auto object-cover" />
        </picture>  
    <div class="border  border-gray-500">
    <h3 class="text-2xl mb-16 lg:mt-16 mt-8 lg:px-16 px-8 font-bold leading-[1.5]">‘’I think Robin has an incredible gift. It has been an absolute pleasure to work with a designer of this caliber.’’</h3>
    <h5 class="text-gray-600 font-bold text-lg lg:mb-16 mb-8 lg:px-16 px-8 leading-[1.5]">Emily Parker <br> <span class="font-normal mt-1">CEO, Company 2</span></h5>
   </div>
   </div>
   <div>
   <picture>
            <source media="(min-width: 1024px)" srcset="about-3-lg.webp" />
            <img src="about-3-md.webp" alt="about" class="w-full h-auto object-cover" />
        </picture>  
    <div class="border  border-gray-500">
    <h3 class="text-2xl mb-16 lg:mt-16 mt-8 lg:px-16 px-8 font-bold leading-[1.5]">‘’All I can say that, Robin is a phenomenal designer. The wavelength at which he thinks is astoundaing. I love the focus, passion and attention to detial in the design.’’</h3>
    <h5 class="text-gray-600 font-bold text-lg lg:mb-16 mb-8 lg:px-16 px-8 leading-[1.5]">Vincent  Rudd <br> <span class="font-normal mt-1">CEO, Company 1</span></h5>
   </div>
   </div>
</div>
</div>
</section>