<section class="relative flex flex-col md:flex-row md:justify-end -mx-3 lg:pt-55 md:pt-40 pb-12 before:absolute before:w-4xl before:min-h-full before:top-0 lg:before:bg-indigo-950 md:before:bg-none">
    <picture class="mx-auto md:mx-0 md:absolute left-0 top-41.5 mb-12 md:mb-0">
    <source media="(min-width:  1024px )" srcset="Robin.png" />
    <source media="(min-width:  768px )" srcset="robin-l.png" />
    <img src="robin-s.png" />
  </picture>
    <div class="md:w-102 lg:w-3xl lg:px-3.75 md:mr-9 md:pt-24 md:pb-22 px-5 md:px-0 z-10">
    <h1 class="text-white font-bold banner-title  mb-8 leading-[1.2]">
      I’m Robin Williams.<br> A Product Designer
      <span class="text-gray-400">based in Italy.</span>
    </h1>
    <p class="text-lg text-white">I’m probably the most passionate designer you will ever get to work with. If you have a great project that needs some amazing skills, I’m your guy.</p>
  </div>
</section>