<section class="relative flex justify-end -mx-3 lg:pt-55 md:pt-40 pb-24 before:absolute before:w-4xl before:min-h-full before:top-0 lg:before:bg-indigo-950 md:before:bg-none">
    <picture class="absolute left-0 top-42">
  <source media="(max-width: 768px)" srcset="/robin-s.png">
  <source media="(max-width: 1024px)" srcset="/robin-l.png">
  <img src="/robin-xl.png"  alt="Robin Williams">
</picture>
    <div class="lg:w-3xl md:w-102 mr-9 mt-24 mb-37 px-3.75 z-10">
        <h1 class="font-bold banner-title  lg:leading-[1.2] md:leading-[1.196] mb-8">I’m Robin Williams. <br> A Product Designer <span class="text-gray-400 whitespace-nowrap">based in Italy.</span></h1>
        <p class="text-lg lg:mb-0">I’m probably the most passionate designer you will ever get to work with. If you have a great project that needs some amazing skills, I’m your guy.</p>
    </div>
</section>