<section class="relative flex justify-end -mx-3 pt-55 pb-24 before:absolute before:w-4xl before:min-h-full before:top-0 before:bg-indigo-950">
    <picture class="absolute left-0 top-42">
  <source media="(max-width: 768px)" srcset="/robin-s.png">
  <source media="(max-width: 1024px)" srcset="/robin-l.png">
  <img src="/robin-xl.png"  alt="Robin Williams">
</picture>
    <div class="w-3xl mr-9 mt-24 mb-37 px-3.75 z-10">
        <h1 class="font-bold text-banner-title leading-[1.2] mb-8">I’m Robin Williams. A Product Designer <span class="text-gray-500">based in Italy.</span></h1>
        <p class="text-lg mb-0">I’m probably the most passionate designer you will ever get to work with. If you have a great project that needs some amazing skills, I’m your guy.</p>
    </div>
</section>