<section class="py-12 lg:py-30 md:py-20 lg:px-15 md:px-7 px-0.4">
<div class="container mx-auto grid md:grid-cols-2 grid-cols-1 gap-6">
    <div class="mb-10">
        <h2 class="text-3xl md:text-5xl max-w-147 text-white font-bold mb-6 leading-[1.2]">Let’s get started</h2>
        <p class="text-lg text-gray-500 mb-10 max-w-147 leading-[1.5]">Now that you know a lot about me, let me know if you are interested to work with me.</p>
     </div>
     <div class="grid">
        <form class="border">
            <div>
                <label for="user-name">Name</label>
                <input id="user-name" type="text">
            </div>
            <div>
                <label for="user-email">Email</label>
                <input id="user-email" type="text">
            </div>
            <div>
                <label for="user-message">Message</label>
                <textarea id="user-message"></textarea>
            </div>
            <button type="submit" class="flex uppercase mt-22.75 mx-auto text-lg font-bold border-1 border-purple bg-purple px-8 py-6 cursor-pointer">Let’s get started</button>
        </form>
     </div>
     </div>
     </section>