<section class="py-12 lg:py-30 md:py-20 px-5 md:px-10">
<div class="max-w-4xl mx-auto  grid md:grid-cols-2 grid-cols-1 gap-6">
    <div class="mb-6 lg:px-3.75">
        <h2 class="text-3xl md:text-5xl max-w-147 text-white font-bold md:mb-6 mb-4 leading-[1.2]">Let’s get started</h2>
        <p class="text-lg text-gray-500  max-w-147 leading-[1.5]">Now that you know a lot about me, let me know if you are interested to work with me.</p>
     </div>
     <div class="grid lg:px-3.75">
        <form class="grid gap-y-10">
            <div class="grid">
                <label for="user-name" class="mb-2">Name</label>
                <input id="user-name" class="py-3.25 px-3 bg-indigo-950 outline-none"  type="text">
            </div>
            <div class="grid">
                <label for="user-email" class="mb-2">Email</label>
                <input id="user-email" class="py-3.25 px-3 bg-indigo-950 outline-none"   type="text">
            </div>
            <div class="grid">
                <label for="user-message" class="mb-2">Message</label>
                <textarea id="user-message" class="min-h-25 max-h-50 py-3.25 px-3 mb-4 bg-indigo-950 outline-none" ></textarea>
            </div>
            <button type="submit" class="uppercase text-center text-lg font-bold border-1 border-purple hover:bg-purple px-8 py-6 cursor-pointer">Let’s get started</button>
        </form>
     </div>
     </div>
     </section>