</main>
<footer class="bg-blue mt-auto pt-5 pl-30 pb-10 border-t-2 text-brand">
    <div class="container mb-auto px-3 flex gap-8">
        <address class="text-amber text-2xl">
<a href="index.html">
    <img src="/awesome.png" alt="logo">
</a>
        </address>
        <nav class="flex flex-col gap-4 text-brand">
            <a href="index.html" class="hover:text-amber">home</a>
            <a href="box-sizing.html" class="hover:text-amber">box-sizing</a>
            <a href="template-page.html" class="hover:text-amber">template-page</a>
        </nav>
    </div>
     <a href="nav.html" class="flex fixed left-6 bottom-6 bg-amber text-white justify-center items-center rounded-full w-16 h-10 py-1 px-3 hover:bg-yellow">nav</a>
</footer> 