<section class="grid md:grid-cols-2 grid-cols-1 w-full mx-auto max-w-7xl">
    <div class="bg-pink-200 flex flex-col items-start  px-5 lg:px-18 md:px-10 py-12 lg:py-30 md:py-10">
        <h2 class="text-3xl md:text-5xl text-indigo-950 font-bold mb-6 leading-[1.2]">Instagram</h2>
        <p class="text-lg text-gray-600 mb-24 lg:mb-33.5 md:mb-16.75 leading-[1.5]">If you area a person who enjoys photography, then I highly recommend that you check out my Instagram. I’m an avid traveller and I capture the best moments that I would love to cherish with the world</p>
        <a href="#" class="text-indigo-950 leading-[1.75] border-b pb-1 border-gray-500">Follow me on IG</a>
    </div>
<picture>
    <source  srcset="/assets/img/instagram.webp">
    <img src="/assets/img/instagram.png" class="object-cover w-full h-112.5 md:h-full" alt="instagram">
</picture>
</section>