<section class="projects py-16 lg:py-30 md:py-20">
    <div class="container mx-auto items-start grid lg:grid-cols-2 md:grid-cols-1 gap-6">
    <div>
        <h6 class="uppercase mb-2 text-gray-500">PROJECTS</h6>
        <h2 class="text-3xl md:text-5xl font-bold md:max-w-172.25 mb-10">Work that I’ve done for the past 8 years</h2>
    <div>
         <img src="/projects-1.png" class="w-full"  alt="project">
         <h3 class="text-2xl lg:w-full md:w-49  mb-3.25 pt-10 px-5 font-bold leading-[1.5] md:text-nowrap">Restaurant Website Design</h3>
         <h5 class="text-gray-500 font-normal text-lg mb-10 px-5 leading-[1.5]">I worked with the guys at CBRE to redesign their entire website and mobile app fro both Android and iOS. This project lasted for 4 months and was a very challenging one.</h5>
    </div>
    <div>
         <img src="/projects-3.png" class="w-full" alt="project">
         <h3 class="text-2xl lg:w-full md:w-49  mb-3.25 pt-10 px-5 font-bold leading-[1.5] md:text-nowrap">Restaurant Website Design</h3>
         <h5 class="text-gray-500 font-normal text-lg mb-10 px-5 leading-[1.5]">I worked with the guys at CBRE to redesign their entire website and mobile app fro both Android and iOS. This project lasted for 4 months and was a very challenging one.</h5>
    </div>
    </div>
    <div>
         <div>
         <img src="/projects-2.png" class="w-full"  alt="project">
         <h3 class="text-2xl lg:w-full md:w-49  mb-3.25 pt-10 px-5 font-bold leading-[1.5] md:text-nowrap">Restaurant Website Design</h3>
         <h5 class="text-gray-500 font-normal text-lg mb-10 px-5 leading-[1.5]">I worked with the guys at CBRE to redesign their entire website and mobile app fro both Android and iOS. This project lasted for 4 months and was a very challenging one.</h5>
    </div>
    <div>
         <img src="/projects-4.png" class="w-full"  alt="project">
         <h3 class="text-2xl lg:w-full md:w-49  mb-3.25 pt-10 px-5 font-bold leading-[1.5] md:text-nowrap">Restaurant Website Design</h3>
         <h5 class="text-gray-500 font-normal text-lg mb-10 px-5 leading-[1.5]">I worked with the guys at CBRE to redesign their entire website and mobile app fro both Android and iOS. This project lasted for 4 months and was a very challenging one.</h5>
    </div>
    <button class="flex uppercase mt-22.75 mx-auto text-lg font-bold border-1 border-purple hover:bg-purple px-8 py-6 cursor-pointer">VIEW ALL PROJECTS</button>
    </div>
    </div>
</section>