@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');
@import 'tailwindcss';


@theme {
     
    --color-neutral-300: #C4C4C4;
    --color-neutral-400: #FFF3E4;
    --color-purple: #5221E6;
    --color-indigo-950: #181823;
    --color-gray-400: #808080;
    --color-gray-500: #8491A0;
    --color-gray-600: #5B6876;
    --color-green-400: #3CC74E;
    --color-blue-400: #609BFF;
    --color-pink-400: #E95D90;
    --color-pink-200: #FBE4FF;

    --color-twitter: #26A7DE;
    --color-dribbble: #E94B88;
    --color-linkedin: #0077B5;
     
    --text-3xl: 32px;
    --text-5xl: 55px;
    --text-9xl: 117px;

    --font-sen: "Sen";

    --container-2xl: 738px;
    --container-4xl: 1116px;
    --container-5xl: 1320px;
    --container-7xl: 1440px;
}

@layer components {

    .banner-title {
     font-size: 32px;

     @media (min-width: 768px) {
     font-size: 56px;
     }

      @media (min-width: 1024px) {
     font-size: 78px;
     }   
  }
}

[alt=""] {
    filter: blur(2px);
    opacity: 0.8;
}

.swiper {
  width: 100%;
  height: auto;
}
